version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
{% if include_precommit %}
  - package-ecosystem: "pre-commit"
    directory: "/"
    schedule:
      interval: "monthly"
{% endif %}
{% if include_dockerfile %}
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
{% endif %}
