# API Reference

::: {{ module_name }}
    options:
        docstring_style: google
        members: true
        members_order: source
        show_signature: true
        show_signature_annotations: true
        show_source: false
